<div class="form-container">
  <div class="controls">
    <label>Start Latitude:
      <input 
        type="number" 
        [(ngModel)]="startLat" 
        [readonly]="isCoordinatesDefined" 
        [ngClass]="{ 'readonly-style': isCoordinatesDefined }"/>
    </label>
    <label>Start Longitude:
      <input 
        type="number" 
        [(ngModel)]="startLng" 
        [readonly]="isCoordinatesDefined" 
        [ngClass]="{ 'readonly-style': isCoordinatesDefined }"/>
    </label>
    <label>End Latitude:
      <input 
        type="number" 
        [(ngModel)]="endLat" 
        [readonly]="isCoordinatesDefined" 
        [ngClass]="{ 'readonly-style': isCoordinatesDefined }"/>
    </label>
    <label>End Logitude:
      <input 
      type="number" 
      [(ngModel)]="endLng" 
      [readonly]="isCoordinatesDefined" 
      [ngClass]="{ 'readonly-style': isCoordinatesDefined }"/>
    </label>

    <button
      *ngIf="isCoordinatesDefined"
      (click)="defineCoordinates()">
      🗺 New Coordinates
    </button>
    <button
      *ngIf="!isCoordinatesDefined"
      (click)="updateCoordinates()">
      🗺 Update Coordinates
    </button>

    <label>Speed (Km/h):
      <input 
        type="number" 
        [(ngModel)]="speedKmH"
        min="1"
        step="1"
        (change)="updateSpeed()"
      />
    </label>
    <label class="center-toggle">
      <input type="checkbox" [(ngModel)]="keepCentered" />
      Keep Centered
    </label>
    <label>
      <input 
        type="checkbox" 
        [(ngModel)]="showTrail" 
        (change)="updateShowTrail()"
      />
      Show Trail
    </label>

    <button
      *ngIf="!isStarted && !isFinished"
      (click)="startAnimation()">
      🐱 Start
    </button>

    <button
      *ngIf="isStarted"
      (click)="resetToStart()">
      🔄 Back
    </button>

    <button
      *ngIf="isStarted && !isFinished && !isPaused"
      (click)="togglePause()">
      ⏸️ Pause
    </button>

    <button
      *ngIf="isStarted && !isFinished && isPaused"
      (click)="togglePause()">
      ▶️ Play
    </button>
    
  </div>
</div>

<div id="map"></div>
